body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}


div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 900;
}


p {
    line-height: 1.6em;
}


.header {
    width: 100%;
    background: rgb(255, 255, 255);
    position: relative;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 90px;
}


.nav-links {
    padding: 28px 0;
}


.nav-links li {
    display: inline-block;
    margin: 0 15px;
}


.nav-links li a {
    text-decoration: none;
    color: #000000;
    padding: 5px 0;
    position: relative;
}


.nav-links li a::after {
    content: '';
    background: rgb(15, 38, 168);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}


.nav-links li a:hover::after {
    width: 100%;

}


.btn-header {
    background: #ff0000;
    color: #fff;
    border-radius: 10px;
    display: block;
    width: 100px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;

}


.section {
    background: rgba(179, 207, 235, 1);
    background: -moz-linear-gradient(-45deg, rgba(179, 207, 235, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(48, 82, 120, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179, 207, 235, 1)), color-stop(50%, rgba(41, 184, 229, 1)), color-stop(100%, rgba(48, 82, 120, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(179, 207, 235, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(48, 82, 120, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(179, 207, 235, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(48, 82, 120, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(179, 207, 235, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(48, 82, 120, 1) 100%);
    background: linear-gradient(135deg, rgba(179, 207, 235, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(48, 82, 120, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3cfeb', endColorstr='#305278', GradientType=1);
}


.wrapper {
    display: flex;
    justify-content: space-between;
}


.container {
    width: 1170px;
    margin: 0 auto;
}


.offer {
    margin-top: 160px;
}

.btn {
    background: #e4a735;
    color: #fff;
    border-radius: 100px;
    display: block;
    width: 205px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
}


.image-section1 {
    width: 600px;

}























.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.testimonial {
    padding-top: 100px;
}

.testimonial .col-1 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-1 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-1:hover {
    transform: translateY(-10px);
}

.small-container {

    width: 300px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}


.col-1 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;

    transition: transform 0.5s;
}

.col-1 img {
    width: 100%;
}

.title-fish {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: aliceblue;
}

.title-fish::after {
    content: '';
    background: #e4a735;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: rgb(13, 69, 116);
    font-weight: normal;
}

.col-1 p {
    font-size: 14px;
    margin: 12px 0;
    color: aliceblue;
}

.col-1:hover {
    transform: translateY(-10px);
}

.testimonial .col-1 h3 {
    font-weight: 600;
    font-size: 17;
}























.brands {
    margin: 100px auto;
}

.col-4 {
    width: 170px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-4 img:hover {
    filter: grayscale(0);
}

.col-4:hover {
    transform: translateY(-10px);
}

























.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 140px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #8dcde0;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}


































.accaunt {
    color: #8dcde0;
}















.cover-back {
    height: 500px;
    background-image: url('images/pets-in-park-2.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}

.map {

    margin-left: auto;
    margin-right: auto;
    width: 800px;


}

span {
    color: #4e3192;
}


































































.register_body {
    margin: 0;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(101, 240, 240);
    transition: 0.5s;
}

.register_body.active {
    background-color: #f76b6b;
}

.container-register {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;

}

.block {
    height: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.block__item {
    width: 50%;
}

.block-item {
    text-align: center;
}

.block-item__title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}


.form-box {
    background-color: #fff;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.form-box.active {
    left: 50%;
}

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;
    transition: 0.5s;
}

.form_signin {
    left: 0;
    transition: 0.25s;
}

.form_signup {
    left: 100%;
    transition: 0s;
}

.form-box.active .form_signin {
    left: -100%;
    transition: 0s;
}

.form-box.active .form_signup {
    left: 0%;
    transition: 0.25s;
}


.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: solid 1px #333;
    font-size: inherit;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(91, 178, 236);
    color: #fff;
    padding: 10px 50px;

}

.form__btn-2 {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(219, 122, 31);
    color: #fff;
    padding: 10px 50px;

}

.form__btn-3 {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(214, 26, 13);
    color: #fff;
    padding: 10px 50px;

}

.form__btn__signup {
    background-color: rgb(250, 26, 26);
}

.form__forgot {
    color: #333;
}